# Vars
ansible_username={{ ansible_user_id }}
default_container={{ ansible_container }}
ansible_container={{ ansible_container }}

# Aliases
{% for alias in aliases %}
{{ alias }}
{% endfor %}

# Volumes

podman_volumes="{%- for volume in podman_volumes -%}-v {{ volume.source_dir }}:{{ volume.mount_dir }} {% endfor -%}"

# Commands

podmancmd() { podman run ${podman_volumes} ${default_container} "$@"; }
podmancmdit() { podman run -it ${podman_volumes} ${default_container}; }

ans() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" ; }
ans-check() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" --syntax-check ; }
ans-v() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" -v ; }
ans-vv() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" -vv ; }
ans-vvv() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" -vvv ; }
ans-vvvv() { podman run ${podman_volumes} ${ansible_container} ansible-playbook -u ${ansible_username} "$@" -vvvv ; }
